<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spring Angular Startup Kit</title>
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/homecontroller.js"></script>
    </head>
    <body ng-app="app" ng-controller="home as home">
        <ul class="nav nav-pills" role="tablist">
            <li class="active" ng-click="home.refresh()"><a href="">Home</a></li>
            <li><a href="">Login</a></li>
            <li><a href="" ng-click="home.logout()">Logout</a></li>
        </ul>
        <form ng-submit="home.login()" ng-hide="home.hide" class="ng-cloak">
            <div class="form-group">
                <label for="username">Username:</label>
                <input text="text" class="form-control" id="content" name="content"
                    ng-model="home.credentials.username"/>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"
                    ng-model="home.credentials.password"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="container ng-cloak" ng-show="home.hide">
            <p>ID: {{home.greeting.id}}</p>
            <p>Message: {{home.greeting.msg}}</p>
        </div>

    </body>
</html>
